.button {
  width: 45%;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  background-image: url('https://desktp.github.io/beauty-swipe/img/thumbs-up.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-blend-mode: soft-light;
}

.like {
  background-color: #71da78;
}

.dislike {
  background-color: #f4c435;
  transform: rotate(180deg);
}